src/gSOAPGEN/20170324/rdlite.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="rdlite"
  targetNamespace="http://tempuri/rdservice?wsdl"
  xmlns:tns="http://tempuri/rdservice?wsdl"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:rdLite"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

  <schema targetNamespace="urn:rdLite"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns="urn:rdLite"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <complexType name="TagValue"><!-- TagValue -->
          <sequence>
            <element name="id" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- TagValue::id -->
            <element name="time" type="xsd:long" minOccurs="1" maxOccurs="1"/><!-- TagValue::time -->
            <element name="value" type="xsd:string" minOccurs="0" maxOccurs="1"/><!-- TagValue::value -->
          </sequence>
    </complexType>
    <complexType name="TagValueArray"><!-- TagValueArray -->
          <sequence>
            <element name="error" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- TagValueArray::error -->
            <element name="item" type="ns:TagValue" minOccurs="0" maxOccurs="unbounded"/><!-- TagValueArray::__size -->
          </sequence>
    </complexType>
    <complexType name="TagIdArray"><!-- TagIdArray -->
          <sequence>
            <element name="item" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/><!-- TagIdArray::__size -->
          </sequence>
    </complexType>
  </schema>

</types>

<message name="ReadRequest">
  <part name="stationId" type="xsd:unsignedByte"/><!-- ns__Read::stationId -->
  <part name="tagId" type="ns:TagIdArray"/><!-- ns__Read::tagId -->
</message>

<message name="ReadResponse">
  <part name="result" type="ns:TagValueArray"/><!-- ns__Read::result -->
</message>

<message name="QueryRequest">
  <part name="stationId" type="xsd:unsignedByte"/><!-- ns__Query::stationId -->
  <part name="tagId" type="ns:TagIdArray"/><!-- ns__Query::tagId -->
  <part name="valueType" type="xsd:unsignedByte"/><!-- ns__Query::valueType -->
  <part name="beginTime" type="xsd:long"/><!-- ns__Query::beginTime -->
  <part name="endTime" type="xsd:long"/><!-- ns__Query::endTime -->
  <part name="count" type="xsd:unsignedShort"/><!-- ns__Query::count -->
</message>

<message name="QueryResponse">
  <part name="result" type="ns:TagValueArray"/><!-- ns__Query::result -->
</message>

<portType name="rdlitePortType">
  <operation name="Read">
    <documentation>Service definition of function ns__Read</documentation>
    <input message="tns:ReadRequest"/>
    <output message="tns:ReadResponse"/>
  </operation>
  <operation name="Query">
    <documentation>Service definition of function ns__Query</documentation>
    <input message="tns:QueryRequest"/>
    <output message="tns:QueryResponse"/>
  </operation>
</portType>

<binding name="rdlite" type="tns:rdlitePortType">
  <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="Read">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" namespace="urn:rdLite" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
          <SOAP:body use="encoded" namespace="urn:rdLite" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
  <operation name="Query">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" namespace="urn:rdLite" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
          <SOAP:body use="encoded" namespace="urn:rdLite" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
</binding>

<service name="rdlite">
  <documentation>gSOAP 2.8.40 generated service definition</documentation>
  <port name="rdlite" binding="tns:rdlite">
    <SOAP:address location="http://tempuri/rdservice"/>
  </port>
</service>

</definitions>
