src/gSOAPGEN/20170221/rdbservice.asmx.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld2">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorld2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorld2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSumResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorld2SoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld2" />
  </wsdl:message>
  <wsdl:message name="HelloWorld2SoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorld2Response" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetSumSoapIn">
    <wsdl:part name="parameters" element="tns:GetSum" />
  </wsdl:message>
  <wsdl:message name="GetSumSoapOut">
    <wsdl:part name="parameters" element="tns:GetSumResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorld2HttpGetIn" />
  <wsdl:message name="HelloWorld2HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSumHttpGetIn">
    <wsdl:part name="a" type="s:string" />
    <wsdl:part name="b" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSumHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="HelloWorld2HttpPostIn" />
  <wsdl:message name="HelloWorld2HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSumHttpPostIn">
    <wsdl:part name="a" type="s:string" />
    <wsdl:part name="b" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSumHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="rdbserviceSoap">
    <wsdl:operation name="HelloWorld2">
      <wsdl:input message="tns:HelloWorld2SoapIn" />
      <wsdl:output message="tns:HelloWorld2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSum">
      <wsdl:input message="tns:GetSumSoapIn" />
      <wsdl:output message="tns:GetSumSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="rdbserviceHttpGet">
    <wsdl:operation name="HelloWorld2">
      <wsdl:input message="tns:HelloWorld2HttpGetIn" />
      <wsdl:output message="tns:HelloWorld2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSum">
      <wsdl:input message="tns:GetSumHttpGetIn" />
      <wsdl:output message="tns:GetSumHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="rdbserviceHttpPost">
    <wsdl:operation name="HelloWorld2">
      <wsdl:input message="tns:HelloWorld2HttpPostIn" />
      <wsdl:output message="tns:HelloWorld2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSum">
      <wsdl:input message="tns:GetSumHttpPostIn" />
      <wsdl:output message="tns:GetSumHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="rdbserviceSoap" type="tns:rdbserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld2">
      <soap:operation soapAction="http://tempuri.org/HelloWorld2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSum">
      <soap:operation soapAction="http://tempuri.org/GetSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="rdbserviceSoap12" type="tns:rdbserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld2">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSum">
      <soap12:operation soapAction="http://tempuri.org/GetSum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="rdbserviceHttpGet" type="tns:rdbserviceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld2">
      <http:operation location="/HelloWorld2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSum">
      <http:operation location="/GetSum" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="rdbserviceHttpPost" type="tns:rdbserviceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld2">
      <http:operation location="/HelloWorld2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSum">
      <http:operation location="/GetSum" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="rdbservice">
    <wsdl:port name="rdbserviceSoap" binding="tns:rdbserviceSoap">
      <soap:address location="http://rdb.csic711.net/rdbservice.asmx" />
    </wsdl:port>
    <wsdl:port name="rdbserviceSoap12" binding="tns:rdbserviceSoap12">
      <soap12:address location="http://rdb.csic711.net/rdbservice.asmx" />
    </wsdl:port>
    <wsdl:port name="rdbserviceHttpGet" binding="tns:rdbserviceHttpGet">
      <http:address location="http://rdb.csic711.net/rdbservice.asmx" />
    </wsdl:port>
    <wsdl:port name="rdbserviceHttpPost" binding="tns:rdbserviceHttpPost">
      <http:address location="http://rdb.csic711.net/rdbservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>